/*Fonts*/ 
$font-primary: "Geist", serif;
$font-secondary: "Playfair Display", serif;



/*Colors*/
$color-primary: #000000;
$color-primary-100: #202529;
$color-primary-200: #222222;
$color-primary-300: #101010;
$color-primary-400: #444444;
$color-primary-500: #888888;
$color-primary-600: #bbbbbb;

$color-secondary: #ffffff;
$color-secondary-100: #dddddd;

$color-tertiary: #ddad59;

