/*Fonts*/ 
$font-primary: "Geist", serif;
$font-secondary: "Playfair Display", serif;
$font-tertiary: "Permanent Marker", serif;



/*Colors*/
$color-primary: #000000;
$color-primary-100: #202529;
$color-primary-200: #222222;
$color-primary-300: #101010;
$color-primary-400: #444444;
$color-primary-500: #888888;
$color-primary-600: #bbbbbb;

$color-secondary: #ffffff;
$color-secondary-100: #dddddd;
$color-secondary-200: #f5f5f5;
$color-secondary-300: #f8f5e0;


$color-tertiary: #ddad59;
$color-tertiary-100: #ad7d2b;
$color-tertiary-200:#1E824C;
$color-tertiary-300:#3dc380;


