@import '/src/styles/abstract/mixins';
@import '/src/styles/abstract/variables';
.footerBg{
    background-color: $color-primary-300;
    .line{
        width: 70px;
        border: 2px solid $color-secondary-100;
    }
    .footerBtn{
        @include buttonStyle($hover-bg: $color-tertiary-200, $background-color: $color-tertiary-100)
    }
    
    .fontPrimary{
        font-family: Arial, Helvetica, sans-serif;
        // text-decoration: none;
        font-weight: 600;
        color: $color-secondary-100;
        // text-transform: uppercase;
    }
    .styleC{
      
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 10px;
        height: 10px; 
        border-radius: 50%; 
        border: 1px solid;
        padding-bottom: 1.97px;
    }
}