@import '/src/styles/abstract/variables';

.mockup{
    position: relative;
    width: fit-content;
   
   .laptopMockup{
    // position: relative;
   }
    .mobileMockup{
      position: absolute;
      height: 70%;
      bottom: 40px;
      right: 15px;
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    }
    .noMobileMockup{
        position: absolute;
        height: 70%;
        bottom: 40px;
        right: 15px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }
    .mockupTextHover{
        color: $color-tertiary;
    }
}