@import "/src/styles/abstract/mixins";
@import "/src/styles/abstract/variables";
.pricingMainHeadBody {
  background-color: $color-primary-300;

  padding: 100px 0;
}
.pricingLink {
  color: $color-primary-500 !important;
  font-weight: 700;
  text-decoration: none !important;

  transition: all 0.3s ease;

  &:hover {
    color: $color-primary !important;
   
  }

}
.activepriceLink {
    color: $color-secondary !important;
    padding: 10px 20px !important;
    background: $color-primary-300;
    border-radius: 20px;
        &:hover{
            color: $color-secondary !important;
        }
  }
