@import '/src/styles/abstract/variables';
.bundleTitle{
    color: $color-tertiary-300;
}
.websiteBundleH{
    height: 340px;
    @media (max-width:992px) {
        height: 300px;
    }
    @media (max-width:576px) {
        height: fit-content;
    }
}
.studioBundleH{
    height: 310px;
    @media (max-width:992px) {
        height: 290px;
    }
    @media (max-width:576px) {
        height: fit-content;
    }
}