@import "/src/styles/abstract/variables";
.mainGroup{
    &:hover{
        text-decoration: underline;
    }
    .icon{
        line-height: 0;
        font-size: 18px;
        color: $color-primary-200;
       
    
    }
    .textGroup{
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        max-width: 200px;
        color: $color-primary;
        
        word-wrap: break-word;
      
        p{
            font-size: 10px;
            font-weight: 400;
            color: $color-primary-500;
        }
    }
}
