@import "/src/styles/abstract/variables";
.mainNav{
  @media (max-width:992px) {
    display: none;
  }
  
}
.logoSize {
  width: 100px;
}
.linkStyle {
  position: relative;
  color: $color-primary-300;
  &:hover {
    &::after {
      content: "";
      padding: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background-color: $color-primary;
      opacity: 0.2;
    }
  }
}
.activeLinkStyle{
  color: $color-primary-300;
  &::after {
    content: "";
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: $color-primary;
  }
  &:hover::after {
    opacity: 1;
  }
}
.galleryBox {
  margin-top: 18px;
  width: 220px;
  left: 10px;
}
.crmBox {
  margin-top: 18px;
  width: 470px;
  left: 10px;
}
.signUp {
  background-color: black;
  color: $color-secondary;
  font-weight: 500;
  font-size: 15px;
  &:hover {
    background-color: $color-tertiary;
    color: $color-primary-100;
  }
}


